* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > header {
    padding: 16px;
    background-color: rgb(46, 45, 45);
    color: #f5f6fa;
}

#economy {
    background-color: rgb(246, 241, 217);
}

#economy h2 {
    color: gold;
}

#sports {
    background-color: rgb(166, 218, 166);
}

#sports h2 {
    color: green;
}

#entertainment {
    background-color: rgb(241, 201, 245);
}

#entertainment h2 {
    color: rgb(160, 75, 239);
}

#tecnology {
    background-color: rgb(205, 205, 252);
}

#tecnology h2 {
    color: rgb(40, 40, 246);
}

header nav li {
    display: inline;
    margin-left: 16px;
    color: #fff;
    font-size: 24px;
}

header nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 1288px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.creation-date {
    color: rgb(170, 164, 164);
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports .articles article a {
    background-color: green;
}

#economy .articles article a {
    background-color: gold;
}

#entertainment .articles article a {
    background-color: purple;
}

#tecnology .articles article a {
    background-color: blue;
}